.main {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
h3 {
  font-size: 14px;
  letter-spacing: 2px;
  color: rgb(130, 71, 255);
  background-color: white;
  width: max-content;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 6px 1px;
  border-radius: 12px;
  border: 1px solid rgb(175, 157, 214);
}

.para-1 {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.para-2 {
  margin-top: 16px;
  font-size: 36px;
}
.para-3 {
  margin-top: 20px;
  color: rgb(118, 117, 117);
  font-size: 14px;
}

.button-1 {
  gap: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 24px;
}
.start {
  background-color: rgb(130, 71, 255);
  justify-content: center;
  padding: 16px 26px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 19px;
  color: white;
  border-radius: 20px;
}
.demo {
  background-color: white;
  justify-content: center;
  padding: 16px 26px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 19px;
  color: black;
  border-radius: 20px;
  border: 2px solid grey;
}
.image1-class {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 14px;
}
.image1 {
  display: block;
  width: 70%;
  height: auto;
  border-radius: inherit;
  object-position: center;
  object-fit: contain;
  image-rendering: auto;
}

.main-container-2  {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 5rem;
}
.section-2 > * {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pre {
  margin-top: 12px;
}
.our-pro {
  margin-top: 24px;
}

.boost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 20rem;

  
}
.boost-pro {
  /* width: 50%; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  line-height: 32px;
  font-size: 32px;
}
.left {
  width: 30%;
  height: 45vh;
  background-color: #ededfa;
  padding: 20px 32px;
  border-radius: 32px;
  font-weight: bold;
}

.image-3{
  
  width: 75%;
  height: 70%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}
.smart-task
{
display: flex;
flex-direction: column;
justify-content: start;
align-items: self-start;
margin-left: 32px;
gap: 10px;
}
.three-box
{
  display: flex;
  
}
.image4
{
  scale: 0.6;
}

.box-1
{
 
  padding: 8px 16px;
  
  border-radius: 32px;
}
.box-inside
{
  margin-top: -4rem;
  gap: 12px;
  display: flex;
  flex-direction: column;
  /* justify-content: start;
  align-items: self-start; */
}

.main-container-3
{
  padding-top: 5rem;
}
.para-3-2
{
  display: flex;
  flex-direction: column;
}
.and-more{
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  color: rgb(130, 71, 255);
  background-color: white;
  width: max-content;
  
  padding: 6px 1px;
  border-radius: 12px;
  border: 1px solid rgb(175, 157, 214);
}
.productivity
{
  color: white;
  font-size: 48px;
}

.cross-box
{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 40px;
}
.cross-box-1
{
  width: 30%;
  padding: 16px 32px;
  background-color: rgb(33, 33, 33);
  border-radius: 30px;
  border-color: rgba(255, 255, 255, 0.03);
  height: 30vh;
  padding-top: 20px;
}
svg{
  border-radius: 20px;
  border: 4px solid rgb(130, 71, 255);
}
.integrations
{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  display: flex;
  margin: 5rem;
}
.enable
{
  margin-top: -40px;
  
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.tools
{
  max-width:30% ;
  word-wrap: break-word;
  font-size: 46px;
}
.enable-para
{
  /* max-width: 30%; */
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30%;
}
.para-div
{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  font-size: 20px;
}

.int-img{
  width: 50%;
  height: auto;
}

.section-4
{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

.left-2
{
width: 30%;
}
.main-container-4
{
  padding-top: 5rem;
}
.right-2
{
  margin-left: 20%;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.row-1
{
 width: fit-content;
 background-color: rgb(247, 248, 253);
 padding: 12px 24px;
 border-radius: 32px;
 display: flex;
}
.plus
{
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(130, 71, 255) ;
  margin-left: 20px;
}

.price
{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.ideal
{
  margin-top: 30px;
  font-size: 28px;
}